/* :host 컴포넌트 자신을 가리키는 예약어 */
:host {
  display: block;
  padding: 10px;
  background-color: white;
}

:host /deep/ div.this-is-valid {
  padding: 10px;
  color: blue;
}

:host /deep/ div.this-is-invalid {
  padding: 10px;
  color: red;
}
